$backgound-color:rgba(3, 255, 200, 0.123);
$accent-color: rgb(255, 110, 202);
$gap: 15px;

* {
    box-sizing: border-box;
}

body {
    background-color: $backgound-color;
}

header {
    margin: 0 auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px;

    div.container {
        padding: $gap calc($gap * 2);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 15px;
        max-width: 800px;
        min-width: 474px;
        margin: 0 auto;

        a {
            font-size: 24px;
            font-weight: bold;
            margin-right: $gap;
        }
    }
}

section {
    padding-top: $gap;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    max-width: 800px;
    min-width: 474px;
    margin: 0 auto;

    .postas {
        background-color: white;
        border-radius: $gap;
        padding: 10px $gap $gap;
        margin: 0 $gap;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px;

        h4 {
            font-weight: 700;
            margin-bottom: $gap;
        }

        p {
            margin-left: 30px;
            margin-bottom: $gap;
        }
        a {
            &:first-child {
                display: block;
            }
            &:last-of-type {
                float: right;
                text-align: right;
                margin-bottom: 0;
            }
        }
        ul {
            margin-bottom: 0;

            li {
                margin-left: 30px;
            }
        }

        span {
            margin-bottom: $gap;
            display: inline-block;
            color: white;
            line-height: 27px;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.386);
            padding: 0 7px;
            background-color: $accent-color;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .album {
        display: grid;
        grid-template-columns: 150px 1fr;
        gap: $gap;
        background-color: white;
        border-radius: $gap;
        padding: $gap $gap;
        margin: 0 $gap;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px;

        .image {
            border-radius: calc($gap / 2);
            display: flex;
            overflow: hidden;
            width: 150px;
            height: 150px;

            img {
                width: 150px;
            }
        }

        h4 {
            font-weight: 700;
        }
    }

    .hidden {
        max-height: 29px;
        overflow: hidden;
    }

    .visible {
        max-height: max-content;
    }
}